<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barnes.matt.tallpinesrally" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="barnes.matt.tallpinesrally.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="barnes.matt.tallpinesrally.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/tp_icon"
        android:label="@string/app_longname"
        android:theme="@style/TallPinesTheme" >
        <activity
            android:name="barnes.matt.tallpinesrally.MainActivity"
            android:label="@string/app_longname" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="barnes.matt.tallpinesrally.UpdateReceiver" android:enabled="true" android:exported="false" >
            <intent-filter>
                <action android:name="barnes.matt.tallpinesrally.UPDATE_TRACKER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="barnes.matt.tallpinesrally.GcmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="barnes.matt.tallpinesrally.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="barnes.matt.tallpinesrally.GcmIntentService"
            android:exported="false" />
        <service
            android:name="barnes.matt.tallpinesrally.TeamFeed"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
